
<nav class="navbar navbar-expand-lg navbar navbar-dark bg-primary">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/aboutus" routerLinkActive="active">About <span class="sr-only"></span></a>

      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/contactus" routerLinkActive="active">Contact Us</a>
      </li>
     
      <li class="nav-item">
        <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
      </li>
    </ul>
  </div>
</nav>
<br>
<h3>About us</h3>
<hr>
<p>Online Bus Reservation is a web application which provides a user-friendly User Interface and
    an easy efficient way to search, book and cancel bus tickets.
    <br>
    The objective of application is to computerize any traveling company process to manage
    data, so that all the transactions become faster and there should not be any error in
    transactions like calculation mistake, bill generation and other things. It replaces all the
    paperwork. It keeps records of all the bills also, given to the customers, so that customer
    could update his daily accounts. All most care and back-up procedures must be established to
    ensure 100% successful implementation of the computerized Bus reservation system.
</p>
